<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>♪ Adopte Un Zikos ♪</title>

  <!-- Stylesheets -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/materialize/materialize.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">

  <!-- JS Libraries -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  
  <!-- Base Import -->
  <script type="text/javascript" src="/js/app.js"></script>

  <!-- Screen Script -->
  <script type="text/javascript" src="/js/index.js"></script>

</head>
<body>

  <div id="home">

    <div class="column left-column valign-wrapper">
      <img class="bg-presentation" src="https://loremflickr.com/700/800/concert">
      <h1>♪ Adopte Un Zikos ♪</h1>
    </div>

    <div class="column right-column valign-wrapper">
      <form id="connexion" method="POST" action="#" class="container center-align">
        <p class="error center-align"></p>
        <div class="input-field">
          <input id="pseudo" name="pseudo" type="text">
          <label for="pseudo">Choisissez votre Pseudo</label>
        </div>
        <div class="switch">
          <label>
            Voyons-voir ça
            <input type="checkbox" name="role" id="role">
            <span class="lever"></span>
            Je suis une STAR
          </label>
        </div>
        <input class="btn waves-effect waves-light pulse" type="submit" value="Go!">
      </form>
    </div>

  </div>

</body>
</html>