<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <title>♪ Adopte Un Zikos ♪ - Salle</title>

  <!-- Stylesheets -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/materialize/materialize.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">

  <!-- JS Libraries -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="/js/lib/p5.min.js"></script>

  <script type="text/javascript" src="/js/clmtrackr/libs/utils.js"></script>
  <script type="text/javascript" src="/js/clmtrackr/clmtrackr.js"></script>
  <script type="text/javascript" src="/js/clmtrackr/modules/emotion_classifier.js"></script>
  <script type="text/javascript" src="/js/clmtrackr/modules/emotion_model.js"></script>
  
  <!-- Base Import -->
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/face.js"></script>

  <!-- Guitar Library -->
  <script src="/js/howler.min.js"></script>

  <!-- Guitar Scripts -->
  <script type="text/javascript" src="/js/keyboard.js"></script>
  <script type="text/javascript" src="/js/sound.js"></script> 
  <script type="text/javascript" src="/js/guitar.js"></script>
  
  <!-- Screen Script -->
  <script type="text/javascript" src="/js/room.js"></script>



</head>
<body id="room">

  <video id="video" preload="auto" loop playsinline autoplay></video>

</body>
</html>